{% extends '@nucleus/partials/particle.html.twig' %}

{% set block_size = 100 / particle.column.limit %}

{% block particle %}

<div class="g-contentcubes {{ particle.css.class }}">
    {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}
    {% if particle.description %}<p class="g-description">{{ particle.description|raw }}</p>{% endif %}


    {% if particle.items %}
        <div class="cube-items-wrapper">
            <div class="item cube-row g-grid">

                {% for item in particle.items %}
                    <div class="g-block size-{{ block_size }} {{ item.class }}">
                        {% if item.image %}
                            {% if item.link %}

                                <a target="{{ item.buttontarget|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.label|e }}">
                                    <div class="cube-image-wrapper">
                                        <img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" class="cube-image" />
                                    </div>

                                    {% if item.label %}
                                        <div class="item-label">{{ item.label|e }}</div>
                                    {% endif %}

                                    {% if item.title %}
                                        <div class="item-title">
                                            {{ item.title|e }}
                                        </div>
                                    {% endif %}

                                </a>

                            {% else %}

                                <div title="{{ item.label|e }}">
                                    <div class="cube-image-wrapper">
                                        <img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" class="cube-image" />
                                    </div>

                                    {% if item.label %}
                                        <div class="item-label">{{ item.label|e }}</div>
                                    {% endif %}

                                    {% if item.title %}
                                        <div class="item-title">
                                            {{ item.title|e }}
                                        </div>
                                    {% endif %}

                                </div>

                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
